{% load static %}
{% get_static_prefix as static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--<link rel="stylesheet" href="static/style.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{static}}assets/css/customstyle.css">

</head>


<body>
    <div class="c1">

        <div class="cx shadow-lg ">
            <h5 class="c3">RECRUITER LOGIN</h5>
            <br><br>
            <form action="" method="post">
                {% csrf_token %}
                <h6 class="c4">Username:</h6>
                <input type="text" class="form-control ip2" name="rctrname" placeholder="User Name">
                <br><br>
              
                <h6 class="c4 ">Password:</h6>
               
                <input type="password" class="form-control ip2"name="rctrpassword" placeholder="Password">
                <br><br>
                

                <button class="btn btn1  btn-success"  type="submit">Login</button>
               <br><br>
              <!-- <button class="btn btn1 btn-success" > <a  href="signup" class="link-light"> Register </a></button> -->
              <a href="rctrsignup" class="btn btn1 btn-success">Register</a>
            </form>
           

        </div>
       

    </div>
<!-- ALERTIFY JS -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- SWAL ALERT -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
  alertify.set('notifier','position', 'top-right');
   {% for msg in messages %}
      swal('{{msg}}');
    //    alertify.warning('{{msg}}');
   {% endfor %}
 


</script>

</body>

</html>