{% load static %}
{% get_static_prefix as static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{static}}assets/css/customstyle.css">

</head>


<body>
    <div class="c1">
        <!-- <div class="position-relative"> -->
         <div class="c2 shadow-lg">
           
            <h5 class="c3">RECRUITER SIGN UP</h5>
           <br>
               
            <form action="" method="post" class=" position-absolute bottom-50 right-50 translate-middle ">
             
                {% csrf_token %}
                <input type="text" class="form-control ip2" name="rctrusername"  placeholder="User Name"><br>
                <input type="text" class="form-control ip2" name="rctrfirstname" placeholder="First Name"><br>
                <input type="text" class="form-control ip2" name="rctrlastname" placeholder="Last Name"><br>
                <input type="email" class="form-control ip2" name="rctremail"  placeholder="Email"><br>
                <input type="password" class="form-control ip2" name="rctrpassword" placeholder="Password"><br>
                <input type="password" class="form-control ip2" name="rctrconfirmpassword" placeholder="Confirm Password"><br>
                <button class="btn btn1  btn-success" type="submit">Sing Up</button>
                <br><br>
                
                <a href="rctrlogin" class="btn btn1  btn-success">Login</a>
            </form>
           
           
        </div>
        
    </div>

    </div>
    <!-- swal -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>